@import "root";

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#title-card {
  z-index: 10000;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  h1 {
    font-weight: 300; // Not sure why this is necessary
    font-size: 2.5rem;
    margin: 1rem;
    text-align: left;
  }
}

#map {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

#legend {
  position: absolute;
  bottom: 0.7rem;
  left: 0.7rem;
  width: 20rem;
  z-index: 10000;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

  font-family: $font-family;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1rem;
  }
}

#legend-description {
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

$legend-colors: #e41a1c, #f24d0e, #ff7f00, #FFBF1A, #ffff33, #A6D73F, #4daf4a, #429781, #377eb8, #6866AE;
#legend-gradient {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;

  @for $i from 1 through length($legend-colors) {
    :nth-child(#{$i}) {
      font-size: 0.9rem;

      border-top: 10px solid nth($legend-colors, $i);
      padding-top: 0.2rem;
      width: 100% / length($legend-colors);
      white-space: nowrap;

      padding-left: 1px;
    }
  }
}

#legend-source {
  margin-top: 0.2rem;
  p {
    margin: 0.4rem 0 0 0;
    color: $text-color-light;
    font-size: 0.8rem;
    text-align: justify;

    a {
      font-size: 0.8rem;
      font-weight: 500;
      color: $text-color-light;
      text-align: justify;
    }
  }
}

.mapboxgl-ctrl-attrib a {
  font-size: 0.8rem;
  line-height: normal;
  margin: auto;
}

// Only display this button on mobile
#legend-source-collapse-button {
  display: none;
}

@media screen and (max-width: 900px) {
  #legend-source-collapse-button {
    display: block;
    position: relative;
    float: right;
    margin-right: 0.7rem;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;

    svg {
      display:inline-block;
      fill: $text-color-very-light;
      width: 2em;
      height: 2em;
      vertical-align: middle;
      overflow: hidden;

      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }
}
