@import "root";

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#introContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-weight: 300;
    font-size: 2.4rem;
  }
}

#formContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  form {
    padding-top: 30rem;

    #submitButton {
      font-family: inherit;
    }

    #textBox {
      font-family: inherit;

      @media (min-width: 768px) {
        width: 45rem;
      }
    }
  }
}
