@import "root";

body {
  margin: 0;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // This is basically a fake "body" so that we can overlay it on the canvas
  & > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;

    // The content centered
    & > div {
      justify-self: center;
      align-self: center;

      // The content won't actually be completely centered on the screen automatically because of the browser's nav bar, so
      // this moves it closer to the real center
      margin-bottom: 5rem;

      // So that it's not hugging the edges on mobile
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

section {
  // My name
  h1 {
    font-weight: 500;
    font-size: 3.6rem;
    margin-bottom: 0;
    color: $accent-color;
  }

  // Subtitle
  h1 + p {
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

nav {
  ul {
    list-style-type: none;
  }

  > ul {
    display: flex;
    justify-content: flex-start;

    $column-breakpoint: 525px;

    // Rows when there's room, column when there isn't
    flex-direction: row;
    @media only screen and (max-device-width: $column-breakpoint) {
      flex-direction: column;
      width: fit-content; // For positioning of projects list
    }

    // Anchoring for the projects dropdown
    position: relative;

    font-size: 1.6rem;

    // Overwriting default
    padding-left: 0;

    > li {
      margin-right: 0.2rem;

      a {
        color: $text-color;
        font-weight: 300;
        text-decoration: none;

        &:visited {
          color: $text-color;
        }
      }

      &:not(:last-child) {
        padding-right: 0.6rem;

        &::after {
          content: "/";
          color: $accent-color;
          font-weight: 400;
          padding-left: 0.6rem;
        }
      }

      // No slashes when rendering as column
      @media only screen and (max-device-width: $column-breakpoint) {
        &:not(:last-child)::after {
          content: none;
        }

        padding-bottom: 0.6rem;

        a {
          font-weight: 400;
        }
      }
    }

    #projectsListParent {
      $num-projects: 3;

      ul {
        // Visibility change is delayed until opacity animation is done (otherwise it gets cut off)
        visibility: hidden;
        transition: visibility #{$num-projects * 300ms};

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; // Places this below the bottom of the nav
        padding-top: 1rem;

        // Place it on the left when in column mode
        @media only screen and (max-device-width: $column-breakpoint) {
          top: 0;
          left: 100%;
          padding-top: 0;

          // Other small positioning modifications
          line-height: 1.2;
          li {
            margin-bottom: 0.4rem;
          }
        }

        padding-left: 1rem;
        line-height: 1.6;

        li {
          opacity: 0;
        }

        // Transition out bottom to top
        @for $i from 0 to $num-projects {
          li:nth-child(#{$i + 1}) {
            transition: opacity #{$num-projects * 300 - $i * 300}ms ease;
          }
        }

        a {
          font-size: 1.4rem;
          color: $text-color;
          font-weight: 400;
          text-decoration: none;

          // Decrease font size in column mode to better communicate hierarchy
          @media only screen and (max-device-width: $column-breakpoint) {
            font-size: 1.2rem;
          }
        }
      }

      &:hover ul,
      &:focus-within ul {
        visibility: visible;

        li {
          opacity: 1;
        }

        // Transition in top to bottom
        @for $i from 0 to $num-projects {
          li:nth-child(#{$i + 1}) {
            transition: opacity #{500 + $i * 500}ms ease;
          }
        }
      }
    }
  }
}
