@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&display=swap');

body {
    background-color: #fefefe;
    display: flex;
    justify-content: center;

    main {
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: #191919;
        font-family: 'EB Garamond', serif;
        font-weight: 450;
        font-size: 24px;
        width: 40rem;

        #invisibleCharContainer {
            opacity: 0;
        }
    }
}