body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#main-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #bb0000;
  height: 64px;
}

#main-content {

}

.main-navbar-button {
  display: inline-block;
  height: inherit;

  color: white;
  font-size: 48px;
  padding: 0 18px;
}

.main-navbar-button:hover {
  text-decoration: none;
  color: white;
  background-color: #960000;
}

.main-navbar-button:visited {
  text-decoration: none;
  color: white;
}

.main-navbar-button:active {
  text-decoration: none;
  color: white;
}