html {
    font-size: 16px;
}

body {
    margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #111111;

    text-align: center;
}

h1 {
    font-size: 3.6rem;

    /* So that the red line commonly underneath headers is right below */
    margin-bottom: 0;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #222222;

    text-align: center;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #222222;

    text-align: center;
}

.horz-line {
    width: 100%;
    border-top: solid 1px #bb0000;
    border-bottom: solid 1px #bb0000;
}

/* Container for a full screen page with no scrolling */
#full-page-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

/* Container for a full screen page with scrolling */
#tall-page-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

/* A canvas that will be adjusted via Javascript to fill an entire page. For background animations */
#full-page-canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* Container for the content of a page (text mostly) */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 65%;
}

/* Fix for overflow issue with IE11*/
#main-content p {
    max-width: 1000px;
}

/* Colors text to be scarlet */
.scarlet {
    color: #bb0000;
}

.link-no-underline {
    text-decoration: none;
}

.small-text {
    font-size: 1em;
    color: #888888;
}