<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Text To Speech</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="Text-to-speech chatroom" />
    <script defer src="/chat.js"></script>
    <%- include('include/favicon'); -%>
  </head>
  <body>
    <p id="introText">Click anywhere to enter</p>
    <template id="contentTemplate">
      <form id="form">
        <label for="message">Text: </label>
        <input name="textBox" id="textBox" required="required" />
        <button id="submitButton" type="submit">Submit</button>
      </form>
    </template>
  </body>
  <%- include('include/analytics'); -%>
</html>
