<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Andrew Smith</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="andrewsmith.io.net" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>welcome to www.andrewsmith.io.net!</h1>
    <form method="get" action="https://www.google.com/search">
      <label for="q">
        <span>Google Search:</span>
        <input type="text" name="q" />
        <button type="submit">Search</button>
      </label>
    </form>
  </body>
  <%- include('include/analytics'); -%>
</html>
