<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Andrew Smith</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="Andrew Smith's homepage" />
    <script defer src="/index.js"></script>
    <link rel="stylesheet" href="/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('include/favicon'); -%>
    <noscript>
      <style>
        #projectsList {
          display: flex !important;
        }
      </style>
    </noscript>
  </head>
  <body>
    <canvas id="animationCanvas"></canvas>
    <div>
      <div>
        <section>
          <h1>Andrew Smith</h1>
          <p>Software Engineering in Columbus, Ohio</p>
        </section>
        <nav>
          <ul>
            <li id="projectsListParent">
              <a href="#" id="projectsButton">Projects</a>
              <ul id="projectsList">
                <li><a href="/columbus-buildings">Age of Columbus Buildings Map</a></li>
                <li><a href="https://twitter.com/DonaldTrumBot">@DonaldTrumBot</a></li>
                <li><a href="/bogosort">Bogosort</a></li>
              </ul>
            </li>
            <li><a href="https://github.com/andrewts129">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/andrewsmith129/">LinkedIn</a></li>
            <li><a href="mailto:andrewts129@gmail.com">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  <%- include('include/analytics'); -%>
</html>
