<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Stuff I've Made</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="Links to various projects I've worked on" />
    <link rel="stylesheet" href="/links.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <div>
      <h1>Stuff I've Made</h1>
      <ul>
        <li>
          <section>
            <h2>Columbus Building Age Map</h2>
            <ul>
              <li>A map displaying the year of construction for (almost) every building in Franklin County, Ohio.</li>
              <li><a href="/columbus-buildings">Link</a></li>
              <li><a href="https://github.com/andrewts129/columbus-buildings">Source Code</a></li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <h2>Bogosort</h2>
            <ul>
              <li>
                This server is constantly attempting to sort an array of <var>n</var> = 10 using the famous sorting
                algorithm <a href="https://en.wikipedia.org/wiki/Bogosort">Bogosort</a>. It's going ok.
              </li>
              <li><a href="/bogosort">Link</a></li>
              <li><a href="https://github.com/andrewts129/andrew-smith-dot-io">Source Code</a></li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <h2>@DonaldTrumBot</h2>
            <ul>
              <li>
                A Twitter bot written in Python that uses Markov chains to create (mostly-nonsensical) tweets resembling
                those of Donald Trump.
              </li>
              <li><a href="https://twitter.com/DonaldTrumBot">Link</a></li>
              <li><a href="https://github.com/andrewts129/donald-trump-bot">Source Code</a></li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <h2>Quipple</h2>
            <ul>
              <li>
                A multiplayer web game somewhat based off of Quiplash and Cards Against Humanity (WIP)
              </li>
              <li><a href="https://quipple.andrewsmith.io">Link</a></li>
              <li><a href="https://github.com/andrewts129/quipple">Source Code</a></li>
            </ul>
          </section>
        </li>
        <li>
          <section>
            <h2>Yell at me</h2>
            <ul>
              <li>
                Submit something through this form and the Raspberry Pi in my apartment will loudly speak it in a
                Scottish accent! (WIP, there may be a delay)
              </li>
              <li><a href="/messages">Link</a></li>
            </ul>
          </section>
        </li>
      </ul>
    </div>
  </body>
  <%- include('include/analytics'); -%>
</html>
