<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Text To Speech</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="Text-to-speech service" />
    <script defer src="/speak.js"></script>
    <%- include('include/favicon'); -%>
  </head>
  <body>
    <form>
      <label for="message">Text: </label>
      <input name="textBox" id="textBox" />
      <button id="submitButton" type="button">Submit</button>
    </form>
  </body>
  <%- include('include/analytics'); -%>
</html>
