<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Words</title>
    <meta name="author" content="Andrew Smith" />
    <meta name="description" content="Infinite words" />
    <script defer src="/words.js"></script>
    <link rel="stylesheet" href="/words.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('include/favicon'); -%>
  </head>
  <body>
    <main>
      <p id="wordsContainer"></p>
    </main>
  </body>
  <%- include('include/analytics'); -%>
</html>
