@import "master-style";

.vert-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style-type: none;

    margin-top: 1.5rem;

    li {
        // IE11 overflow fix
        max-width: 1000px;
        margin-bottom: 0.5rem;

        font-size: 1.4rem;
        line-height: 1.4;

        a {
            font-size: 1.4rem;
        }

        h2 {
            text-align: justify;
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-top: 1.6rem;
        }
    }
}