@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bogosort</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bogosort.css")"/>
    </head>
    <body>
        <div id="tall-page-container">
            <div id="main-content">
                <h1 id="title">Bogosort</h1>
                <div id="bogo-container"></div>
                <p>
                    This program has been running for <span id="total-duration">TODO</span>
                    and has sorted the array <span id="num-completions">TODO times</span>.
                </p>
                <p>
                    It started trying to sort this current array on <span id="current-array-start-date">TODO</span>
                    , so it has been going at it for
                    <span id="current-array-duration">TODO</span>.
                </p>
            </div>
        </div>
    </body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/Bogosort.js")"></script>
    @if(prod) {
        @common.googleAnalytics()
    }
</html>
