@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Columbus Building Age Map</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/columbus-buildings.css")"/>
        <link href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css" rel="stylesheet" />
    </head>
    <body>
        <div id="map-page-container">
            <div id="title-card">
                <h1>The Age of Columbus Buildings</h1>
            </div>
            <div id="map">
                <div id="legend">
                    <div>
                        <p id="legend-description">Year Built:</p>
                        <span id="legend-gradient"></span>
                        <span id="legend-labels">
                            <span>1800</span>
                            <span>1900</span>
                            <span>2000</span>
                        </span>
                        <div id="legend-source">
                            <p>
                                Source: <a href='https://www.franklincountyauditor.com/'>Franklin Country Auditor</a>
                                and <a href='https://gismaps.osu.edu/OSUMaps/Default.html?'>The Ohio State University</a>.
                                Some dates are estimates and are likely inaccurate.
                            </p>
                            <p>
                                Inspired by <a href="https://www.bklynr.com/block-by-block-brooklyns-past-and-present/">Block by Block, Brooklyn’s Past and Present</a>
                                and <a href="https://nathanrooy.github.io/pages/2017-02-15-the-age-of-cincinnati-full-screen.html">The Age of Cincinnati</a>.
                            </p>
                            <p>
                                Source code for the <a href="https://github.com/andrewts129/columbus-buildings">data processing</a>
                                and <a href="https://github.com/andrewts129/andrew-smith-dot-io">visualization</a> can be found on GitHub.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/ColumbusBuildings.js")"></script>
    @if(prod) {
        @common.googleAnalytics()
    }
</html>