@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Columbus Building Age Map</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/columbus-buildings.css")"/>
        <link href="https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel="stylesheet" />
    </head>
    <body>
        <div id="map-page-container">
            <h1 id="title">The Age of Columbus</h1>
            <div id="map">
                <div id="legend">
                    <span id="legend-gradient"></span>
                    <span id="legend-labels">
                        <span>1800</span>
                        <span>1850</span>
                        <span>1900</span>
                        <span>1950</span>
                        <span>2000</span>
                    </span>
                </div>
            </div>
        </div>
    </body>
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/ColumbusBuildings.js")"></script>
    @common.googleAnalytics(prod)
</html>