@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>andrewsmith.io.net</title>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/homepage.css")"/>
    </head>
    <body>
        <canvas id="full-page-canvas"></canvas>
        <div id="full-page-container">
            <div id="main-content">
                <h1 id="my-name">welcome to www.andrewsmith.io.net!</h1>
                <form method="get" action="https://www.google.com/search">
                    <label for="q">
                        <span>Google Search:</span>
                        <input type="text" name="q">
                        <button class="button" type="submit">Search</button>
                    </label>
                </form>
            </div>
        </div>
    </body>
    <script src="@routes.Assets.versioned("js/BackgroundAnimation.js")"></script>
    @if(prod) {
        @common.googleAnalytics()
        <script src="@routes.Assets.versioned("js/WakePablo.js")"></script>
    }
</html>