@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Andrew Smith</title>
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/index-style.css")"/>
    </head>
    <body>
        <canvas id="full-page-canvas"></canvas>
        <div id="full-page-container">
            <div id="main-content">
                <h1 id="my-name">Andrew Smith</h1>
                <p id="subtitle">Computer Science & Engineering, The Ohio State University</p>
                <ul class="horz-list">
                    <li>
                        <a href="@routes.PageController.links">Links</a>
                    </li>
                    <li class= "separator">|</li>
                    <li>
                        <a href="https://github.com/andrewts129">Github</a>
                    </li>
                    <li class= "separator">|</li>
                    <li>
                        <a href="mailto:smith.11216@@osu.edu">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="@routes.Assets.versioned("js/BackgroundAnimation.js")"></script>
    @if(prod) {
        @common.googleAnalytics()
        <script src="@routes.Assets.versioned("js/WakePablo.js")"></script>
    }
</html>