@(prod: Boolean)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Message</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <form name="messageForm" method="post">
            <label for="message">Message: </label>
            <input name="Body" id="message">
            <button type="reset" onclick="document.forms['messageForm'].submit();">Submit</button>
        </form>
    </body>
    @if(prod) {
        @common.googleAnalytics()
    }
</html>
